<div id="<%= dom_id musician_applicant_form %>">
  <p>
    <strong>Project title:</strong>
    <%= musician_applicant_form.project_title %>
  </p>

  <p>
    <strong>Preferred style:</strong>
    <%= musician_applicant_form.preferred_style %>
  </p>

  <p>
    <strong>Instrument:</strong>
    <%= musician_applicant_form.instrument %>
  </p>

  <p>
    <strong>Interest reason:</strong>
    <%= musician_applicant_form.interest_reason %>
  </p>

  <p>
    <strong>Availability:</strong>
    <%= musician_applicant_form.availability %>
  </p>

  <p>
    <strong>Audition tape:</strong>
    <%= cl_video_tag("musician_applicant_form.audition_tapes", :background=>"blue", :height=>300, :width=>300, :crop=>"pad") %>
    <%# <%= musician_applicant_form.audition_submission %>
  </p>

  <%# <p>
    <strong>User:</strong>
    <%= musician_applicant_form.user_id %>
  <%# </p> %>

</div>
