<p style="color: green"><%= notice %></p>

<%= render @musician_applicant_form %>

<div>
  <%= link_to "Edit this musician applicant form", edit_musician_applicant_form_path(@musician_applicant_form) %> |
  <%= link_to "Back to musician applicant forms", musician_applicant_forms_path %>

  <%= button_to "Destroy this musician applicant form", @musician_applicant_form, method: :delete %>
</div>
