<div id="<%= dom_id crew_applicant_form %>">
  <p>
    <strong>Project title:</strong>
    <%= crew_applicant_form.project_title %>
  </p>

  <p>
    <strong>Preferred role:</strong>
    <%= crew_applicant_form.preferred_role %>
  </p>

  <p>
    <strong>Experience level:</strong>
    <%= crew_applicant_form.experience_level %>
  </p>

  <p>
    <strong>Interest reason:</strong>
    <%= crew_applicant_form.interest_reason %>
  </p>

  <p>
    <strong>Availability:</strong>
    <%= crew_applicant_form.availability %>
  </p>

  <%# <p>
    <strong>User:</strong>
    <%= crew_applicant_form.user_id %>
  <%# </p> %>

</div>
