<div id="<%= dom_id resignation_form %>">
  <p>
    <strong>Project involved:</strong>
    <%= resignation_form.project_involved %>
  </p>

  <p>
    <strong>Resignation cause:</strong>
    <%= resignation_form.resignation_cause %>
  </p>

  <p>
    <strong>People involved:</strong>
    <%= resignation_form.people_involved %>
  </p>

  <p>
    <strong>Possible solution:</strong>
    <%= resignation_form.possible_solution %>
  </p>

  <p>
    <strong>Additional information:</strong>
    <%= resignation_form.additional_information %>
  </p>

  <%# <p>
    <strong>User:</strong>
    <%= resignation_form.user_id %>
  <%# </p> %>

</div>
