<div id="<%= dom_id management_applicant_form %>">
  <p>
    <strong>Preferred project:</strong>
    <%= management_applicant_form.preferred_project %>
  </p>

  <p>
    <strong>Preferred role:</strong>
    <%= management_applicant_form.preferred_role %>
  </p>

  <p>
    <strong>Interest reason:</strong>
    <%= management_applicant_form.interest_reason %>
  </p>

  <p>
    <strong>Availability:</strong>
    <%= management_applicant_form.availability %>
  </p>

</div>
