<div id="<%= dom_id available_frontstage_form %>">
  <p>
    <strong>Role title:</strong>
    <%= available_frontstage_form.role_title %>
  </p>

  <p>
    <strong>Project involved:</strong>
    <%= available_frontstage_form.project_involved %>
  </p>

  <p>
    <strong>Role description:</strong>
    <%= available_frontstage_form.role_description %>
  </p>

  <p>
    <strong>Requirements:</strong>
    <%= available_frontstage_form.requirements %>
  </p>

  <p>
    <strong>Applicants needed:</strong>
    <%= available_frontstage_form.applicants_needed %>
  </p>

  <p>
    <strong>Applications:</strong>
    <%= available_frontstage_form.applications %>
  </p>

  <p>
    <strong>Filled:</strong>
    <%= available_frontstage_form.filled %>
  </p>

  <p>
    <strong>Application window end:</strong>
    <%= available_frontstage_form.application_window_end %>
  </p>

  <%# <p> %>
    <%# <strong>Admin:</strong> %>
    <%# <%= available_frontstage_form.admin_id %>
  <%# </p> %>

</div>
