<p style="color: green"><%= notice %></p>

<%= render @available_frontstage_form %>

<div>
  <%= link_to "Edit this available frontstage form", edit_available_frontstage_form_path(@available_frontstage_form) %> |
  <%= link_to "Back to available frontstage forms", available_frontstage_forms_path %>

  <%= button_to "Destroy this available frontstage form", @available_frontstage_form, method: :delete %>
</div>
