<div id="<%= dom_id investor_company_form %>">
  <p>
    <strong>Company name:</strong>
    <%= investor_company_form.company_name %>
  </p>

  <p>
    <strong>Company address:</strong>
    <%= investor_company_form.company_address %>
  </p>

  <p>
    <strong>Company website link:</strong>
    <%= investor_company_form.company_website_link %>
  </p>

  <p>
    <strong>Interest reason:</strong>
    <%= investor_company_form.interest_reason %>
  </p>

  <p>
    <strong>Availability:</strong>
    <%= investor_company_form.availability %>
  </p>

</div>
