<div id="<%= dom_id information_form %>">

  <p>
    <strong>Profile Picture:</strong>
    <%= information_form.profile_picture %>
  </p>

  <p>
    <strong>First name:</strong>
    <%= information_form.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= information_form.last_name %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= information_form.age %>
  </p>

  <p>
    <strong>Nation:</strong>
    <%= information_form.nation %>
  </p>

  <p>
    <strong>City:</strong>
    <%= information_form.city %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= information_form.phone_number %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= information_form.email %>
  </p>

  <p>
    <strong>Introduction:</strong>
    <%= information_form.introduction %>
  </p>

  <p>
    <strong>Bio:</strong>
    <%= information_form.bio %>
  </p>

  <%# <p>
    <strong>Social media:</strong>
    <%= information_form.social_media %>
  <%# </p> %>

  <%# <p>
    <strong>User:</strong>
    <%= information_form.user_id %>
  <%# </p> %>

</div>
