<p style="color: green"><%= notice %></p>

<h1>Information forms</h1>
  <%= cl_image_tag @profile_picture.photo.key, height: 300, width: 400, crop: :fill %>
<div id="information_forms">
  <% @information_forms.each do |information_form| %>
    <%= render information_form %>
    <p>
      <%= link_to "Show this information form", information_form %>
    </p>
  <% end %>
</div>

<%= link_to "New information form", new_information_form_path %><br>
<%= link_to "Back to the main page", user_registration_url, class: "btn btn-pink text-grey text-uppercase rounded-pill fw-bold" %>
