<div id="<%= dom_id management_request_form %>">
  <p>
    <strong>Request target:</strong>
    <%= management_request_form.request_target %>
  </p>

  <p>
    <strong>Project involved:</strong>
    <%= management_request_form.project_involved %>
  </p>

  <p>
    <strong>People involved:</strong>
    <%= management_request_form.people_involved %>
  </p>

  <p>
    <strong>Request purpose:</strong>
    <%= management_request_form.request_purpose %>
  </p>

  <p>
    <strong>Outcome expectation:</strong>
    <%= management_request_form.outcome_expectation %>
  </p>

</div>
