
<%= simple_form_for(@update_form) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :update_title %>
    <%= f.input :project_involved %>
    <%= f.input :update_description %>
    <%= f.association :admin %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
