<div id="<%= dom_id update_form %>">
  <p>
    <strong>Update title:</strong>
    <%= update_form.update_title %>
  </p>

  <p>
    <strong>Project involved:</strong>
    <%= update_form.project_involved %>
  </p>

  <p>
    <strong>Update description:</strong>
    <%= update_form.update_description %>
  </p>

  <p>
    <strong>Admin:</strong>
    <%= update_form.admin_id %>
  </p>

</div>
