<div id="<%= dom_id complaint_form %>">
  <p>
    <strong>Project involved:</strong>
    <%= complaint_form.project_involved %>
  </p>

  <p>
    <strong>Complaint cause:</strong>
    <%= complaint_form.complaint_cause %>
  </p>

  <p>
    <strong>People involved:</strong>
    <%= complaint_form.people_involved %>
  </p>

  <p>
    <strong>Desired action:</strong>
    <%= complaint_form.desired_action %>
  </p>

  <p>
    <strong>Additional information:</strong>
    <%= complaint_form.additional_information %>
  </p>

  <p>
    <strong>Availability:</strong>
    <%= complaint_form.availability %>
  </p>

  <%# <p>
    <strong>User:</strong>
    <%= complaint_form.user_id %>
  <%# </p> %>

</div>
