<div id="<%= dom_id selection_form %>">
  <p>
    <strong>Role involved:</strong>
    <%= selection_form.role_involved %>
  </p>

  <p>
    <strong>Project involved:</strong>
    <%= selection_form.project_involved %>
  </p>

  <p>
    <strong>Applicant selected:</strong>
    <%= selection_form.applicant_selected %>
  </p>

  <p>
    <strong>Admin:</strong>
    <%= selection_form.admin_id %>
  </p>

</div>
