
<%= simple_form_for(@transfer_form) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :current_project %>
    <%= f.input :preferred_project %>
    <%= f.input :current_role %>
    <%= f.input :prefered_role %>
    <%= f.input :transfer_reason %>
    <%= f.input :outcome_expectation %>
    <%= f.input :availability %>
    <%# <%= f.association :user %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
