<div id="<%= dom_id transfer_form %>">
  <p>
    <strong>Current project:</strong>
    <%= transfer_form.current_project %>
  </p>

  <p>
    <strong>Preferred project:</strong>
    <%= transfer_form.preferred_project %>
  </p>

  <p>
    <strong>Current role:</strong>
    <%= transfer_form.current_role %>
  </p>

  <p>
    <strong>Prefered role:</strong>
    <%= transfer_form.prefered_role %>
  </p>

  <p>
    <strong>Transfer reason:</strong>
    <%= transfer_form.transfer_reason %>
  </p>

  <%# <p> %>
    <%# <strong>Outcome expectation:</strong> %>
    <%# <%= transfer_form.outcome_expectation %>
  <%# </p> %>

  <p>
    <strong>Availability:</strong>
    <%= transfer_form.availability %>
  </p>

  <p>
    <strong>User:</strong>
    <%= transfer_form.user_id %>
  </p>

</div>
