<p style="color: green"><%= notice %></p>

<%= render @transfer_form %>

<div>
  <%= link_to "Edit this transfer form", edit_transfer_form_path(@transfer_form) %> |
  <%= link_to "Back to transfer forms", transfer_forms_path %>

  <%= button_to "Destroy this transfer form", @transfer_form, method: :delete %>
</div>
