<div id="<%= dom_id management_review_form %>">
  <p>
    <strong>Review title:</strong>
    <%= management_review_form.review_title %>
  </p>

  <p>
    <strong>Project involved:</strong>
    <%= management_review_form.project_involved %>
  </p>

  <p>
    <strong>People involved:</strong>
    <%= management_review_form.people_involved %>
  </p>

  <p>
    <strong>Review purpose:</strong>
    <%= management_review_form.review_purpose %>
  </p>

  <p>
    <strong>Outcome recommendation:</strong>
    <%= management_review_form.outcome_recommendation %>
  </p>

</div>
