<p style="color: green"><%= notice %></p>

<%= render @management_review_form %>

<div>
  <%= link_to "Edit this management review form", edit_management_review_form_path(@management_review_form) %> |
  <%= link_to "Back to management review forms", management_review_forms_path %>

  <%= button_to "Destroy this management review form", @management_review_form, method: :delete %>
</div>
