<div id="<%= dom_id artist_applicant_form %>">
  <p>
    <strong>Project title:</strong>
    <%= artist_applicant_form.project_title %>
  </p>

  <p>
    <strong>Art form:</strong>
    <%= artist_applicant_form.art_form %>
  </p>

  <p>
    <strong>Art style:</strong>
    <%= artist_applicant_form.art_style %>
  </p>

  <p>
    <strong>Interest reason:</strong>
    <%= artist_applicant_form.interest_reason %>
  </p>

  <p>
    <strong>Availability:</strong>
    <%= artist_applicant_form.availability %>
  </p>

  <p>
    <strong>Art submission:</strong>
    <%= artist_applicant_form.art_submission %>
  </p>

  <%# <p>
    <strong>User:</strong>
    <%= artist_applicant_form.user_id %>
  <%# </p> %>

</div>
