<div id="<%= dom_id available_backstage_form %>">
  <p>
    <strong>Role title:</strong>
    <%= available_backstage_form.role_title %>
  </p>

  <p>
    <strong>Project involved:</strong>
    <%= available_backstage_form.project_involved %>
  </p>

  <p>
    <strong>Role description:</strong>
    <%= available_backstage_form.role_description %>
  </p>

  <p>
    <strong>Requirements:</strong>
    <%= available_backstage_form.requirements %>
  </p>

  <p>
    <strong>Applicants needed:</strong>
    <%= available_backstage_form.applicants_needed %>
  </p>

  <p>
    <strong>Applications:</strong>
    <%= available_backstage_form.applications %>
  </p>

  <p>
    <strong>Filled:</strong>
    <%= available_backstage_form.filled %>
  </p>

  <p>
    <strong>Application window end:</strong>
    <%= available_backstage_form.application_window_end %>
  </p>

  <p>
    <strong>Admin:</strong>
    <%= available_backstage_form.admin_id %>
  </p>

</div>
