<p style="color: green"><%= notice %></p>

<h1>Available backstage forms</h1>

<div id="available_backstage_forms">
  <% @available_backstage_forms.each do |available_backstage_form| %>
    <%= render available_backstage_form %>
    <p>
      <%= link_to "Show this available backstage form", available_backstage_form %>
    </p>
  <% end %>
</div>

<%= link_to "New available backstage form", new_available_backstage_form_path %>
<%= link_to "Back to the main page", admin_registration_url, class: "btn btn-pink text-grey text-uppercase rounded-pill fw-bold" %>
