<p style="color: green"><%= notice %></p>

<%= render @new_project_form %>

<div>
  <%= link_to "Edit this new project form", edit_new_project_form_path(@new_project_form) %> |
  <%= link_to "Back to new project forms", new_project_forms_path %>

  <%= button_to "Destroy this new project form", @new_project_form, method: :delete %>
</div>
