<div id="<%= dom_id actor_applicant_form %>">
  <p>
    <strong>Project title:</strong>
    <%= actor_applicant_form.project_title %>
  </p>

  <p>
    <strong>Preferred role:</strong>
    <%= actor_applicant_form.preferred_role %>
  </p>

  <p>
    <strong>Interest reason:</strong>
    <%= actor_applicant_form.interest_reason %>
  </p>

  <p>
    <strong>Availability:</strong>
    <%= actor_applicant_form.availability %>
  </p>

  <p>
    <strong>Audition tape:</strong><br>
    <%= cl_video_tag("actor_applicant_form.audition_submissions",
    :loop => true, :controls => true,
    :transformation => [
    :height=>300, :width=>400, :crop=>"pad",
    :quality=>70, :duration=>"10", :background=>"blue"],
  :fallback_content => "Your browser does not support HTML5 video tags." ) %>
  </p>

  <%# <p>
    <strong>User:</strong>
    <%= actor_applicant_form.user_id %>
  <%# </p> %>

</div>
