<div id="<%= dom_id investor_invest_form %>">
  <p>
    <strong>General or key:</strong>
    <%= investor_invest_form.general_or_key %>
  </p>

  <p>
    <strong>Currency:</strong>
    <%= investor_invest_form.currency %>
  </p>

  <p>
    <strong>Investment amount:</strong>
    <%= investor_invest_form.investment_amount %>
  </p>

  <p>
    <strong>Interest reason:</strong>
    <%= investor_invest_form.interest_reason %>
  </p>

  <p>
    <strong>Investment history:</strong>
    <%= investor_invest_form.investment_history %>
  </p>

  <p>
    <strong>Availability:</strong>
    <%= investor_invest_form.availability %>
  </p>

</div>
