<div id="<%= dom_id glitch_input_form %>">
  <p>
    <strong>Glitch title:</strong>
    <%= glitch_input_form.glitch_title %>
  </p>

  <p>
    <strong>Glitch message:</strong>
    <%= glitch_input_form.glitch_message %>
  </p>

  <p>
    <strong>Spoiler hint:</strong>
    <%= glitch_input_form.spoiler_hint %>
  </p>

  <p>
    <strong>Riddle hint:</strong>
    <%= glitch_input_form.riddle_hint %>
  </p>

</div>
