<p style="color: green"><%= notice %></p>

<%= render @glitch_input_form %>

<div>
  <%= link_to "Edit this glitch input form", edit_glitch_input_form_path(@glitch_input_form) %> |
  <%= link_to "Back to glitch input forms", glitch_input_forms_path %>

  <%= button_to "Destroy this glitch input form", @glitch_input_form, method: :delete %>
</div>
